body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}
.footer-link a{
  text-decoration: none;
}
#supportHero{
  background-color: rgb(56,126,209);
  color:white;
  height:100%;
}

.textwrite{
  /* margin-left: 10px; */
  max-width:100%;
}
.featuredtype{
  margin-left:141px;
}
.atsign{
  border: 6px solid black;
  border-radius: 10px;
  /* border-color:rgb(56,126,209) ;
   */
   border-bottom: 20ex;
   /* width:100%; */
   border-right: 20ex;
   border-color: blanchedalmond;
   border-top-left-radius: 80px;
}
#supportHero a{
  color:white;
  text-decoration: none;
  
}
#supportWrapper{
  display:flex;
  height:50px;
  justify-content: space-between;
  margin : 0 150px;
}
#Up{
  color:rgb(56,126,209);
  
}

#supportHero input{
  padding:20px 40px;
  width:100%;
  font-size:20px;
  border-radius: 10px;
  border:none;
  margin-top: 10px;
  margin-bottom: 20px;
}